
# build folder
build/
lib/

# CLion cache
.idea/*
cmake-build-*/

# python cache
*__pycache__*

# CMake cache
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


# Tools
.git
.vscode
.idea
